@import "../../../../assets/styles/variables";

.rules {
  padding-top: 50px;
  padding-bottom: 100px;

  .container {
    .agree {
      margin-bottom: 55px;
    }

    .rules-title {
      font-size: 25px;
      color: $blue-text-color;
      margin-bottom: 40px;
    }
  }
}
